/* 小型屏幕(平板) */
@media screen and (min-width: 768px) {
	.custom_col_sm1 {
		width: 60px;
	}
	.custom_col_sm11 {
		width: calc(100% - 60px);
	}
	.custom_col_sm1, .custom_col_sm11 {
		float: left;
	}
}

/* 中型屏幕(桌面) */
@media screen and (min-width: 992px) {
	.custom_col_md1 {
		width: 60px;
	}
	.custom_col_md11 {
		width: calc(100% - 60px);
	}
	.custom_col_md1, .custom_col_md11 {
		float: left;
	}
}

/* 大型屏幕(桌面) */
@media screen and (min-width: 1200px) {
	.custom_col_lg1 {
		width: 60px;
	}
	.custom_col_lg11 {
		width: calc(100% - 60px);
	}
	.custom_col_lg1, .custom_col_lg11 {
		float: left;
	}
}

.layui-fluid {
	padding: 0 0;
}

.layui-menu {
	background-color: #393D49;
}

.layui-menu {
	background-color: #393D49;
}

.top-nav {
	position: fixed;
	top: 0px;
	z-index: 1000;
	width: 100%;
	height: 60px;
	color: #ffffff;
	background: linear-gradient(to right, #0B0F19, #383373);
}
/*头部导航栏文字设置*/
.top-nav div {
	height: 60px;
	line-height: 60px;
	font-size: 20px;
	text-align: center;
}
/*头部导航栏用户头像调节*/
.layui-nav-img {
	width: 35px;
	height: 35px;
}

/*头部右边导航样式调节*/
.layui-nav-bar, .layui-nav .layui-this:after {
	/* border-bottom: 3px solid #737B93; */
	background-color: #8F8CCA;
}

/*面包屑导航样式调节*/
.breadcrumb-bar {
	pading-left: 20px;
	height: 50px;
	line-height: 50px;
	background-color: #F7F8FB;
	/* padding-left: 30px; */
	margin-top: 3px;
	border-top: 1px solid #D1D8E7;
	border-bottom: 1px solid #D1D8E7;
	/*box-shadow:x-offset  y-offset  blur  spread  color  style;*/
	box-shadow: 0 10px 5px 5px 5px rgba(0, 0, 0, 0.2);
	height: 50px;
}

/*左侧导航菜单容器*/
.left-menu-container {
	background: linear-gradient(to right, #0B0F19, #46408D);
	/*
	动态计算容器高度：
	1.header导航条高度60px，所以calc(100vh - 60px)
	2.iframe-body高度：calc(100vh - 110px - 6px)，116px = header导航条高度60px+面包屑导航条高度及上下边距各3px
	*/
	height: calc(100vh - 60px);
}

.left-menu-container ul li {
	color: #ffffff;
	text-align: left;
	/* background: linear-gradient(to right, #332F6A, #554EAF); */
	background: linear-gradient(to right, #0B0F19, #393475);
}

.left-menu-container ul li:hover {
	background: linear-gradient(to right, #332F6A, #393475);
}

.left-menu-container ul {
	background: linear-gradient(to right, #0B0F19, #393475);
}

.layui-nav-tree {
	width: 100%;
}

.layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a,
	.layui-nav-tree .layui-this>a:hover, .layui-nav-tree .layui-nav-child dd.layui-this,
	.layui-nav-tree .layui-nav-child dd.layui-this a {
	background: linear-gradient(to left, #26264F, #47418F);
}
/*---------左侧导航栏dd 左边框提示begin-----*/
.layui-nav-child dd:hover {
	border-left: 3px solid #737B93;
}

.layui-nav-tree .layui-nav-bar {
	width: 0px;
	height: 0px;
}
/*-----------左侧导航栏dd 左边框提示end--------*/

/*iframe*/
.iframe-body {
	/* padding-left: 20px; */
	background-color: #E8EBF4;
	color: #ffffff;
	margin-top: 3px;
	height: calc(100vh - 153px);
	background-color: #E8EBF4;
}

/*网站底部*/
.web-footer {
	color: #403B81;
	text-align: center;
	font-size: 12px;
	line-height: 35px;
	height: 35px;
	transition-duration: 0.5s;
	box-shadow: 0 10px 5px 5px 5px rgba(0, 0, 0, 0.2);
	background-color: #F7F8FB;
}